{% extends "::layout.html.twig" %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <div class="login">
        <div class="wrap">
            <div class="col_1_of_login span_1_of_login">
                <h4 class="title">Présentation de la société</h4>
                <p>
                    {{parameter.description}}
                </p>
                <div class="clear"></div>
            </div>
            <div class="col_1_of_login span_1_of_login">
                <div class="login-title">
                    <h4 class="title">Contact</h4>
                    <div class="comments-area">
                        <p>Où nous rencontrer ? </p>
                        <p id="address">{{parameter.adresse}}</p>
                        <div id="map" style="height:200px"></div>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src={{asset("js/dist/typeahead.js")}}></script>
    <script src={{asset("js/dist/typeahead-addresspicker.js")}}></script>
    <script type="text/javascript">
    // instantiate the addressPicker suggestion engine (based on bloodhound)
        var addressPicker = new AddressPicker({map: {id: '#map'}});

        // instantiate the typeahead UI
        $('#address').typeahead(null, {
            displayKey: 'description',
            source: addressPicker.ttAdapter()
        });

        // Bind some event to update map on autocomplete selection
        $('#address').bind("typeahead:selected", addressPicker.updateMap);
        $('#address').bind("typeahead:cursorchanged", addressPicker.updateMap);
    </script>
{% endblock %}
