{% extends "::layout.html.twig" %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
Merci d'avoir créé un compte 
<a href = "{{path('client_plug', {id:id})}}>Mon compte</a>
{% endblock body %}
