{% extends "::layout.html.twig" %}
{% block title %}Panier{% endblock %}
{% block body %}
    <div class="register_account">

        <h4 class="title">Merci pour votre commande</h4>
        <p class="cart">A bientôt pour des nouvelles commandes</p>
    </div>

</div>
{% endblock %}
